@model AdminCabinetViewModel

<div class="container d-flex flex-column gap-2">
    <header>
        <h1 class="text-start">Панель администратора</h1>
    </header>
    <div class="container w-100 d-flex flex-wrap flex-fill gap-4">
        @foreach (var student in Model.Students)
        {
            <div class="card" style="width: 200px">
                <div class="card-img-top"
                     style="background-image: url(@student.PhotoUrl); background-size: cover; height: 100px">

                </div>
                <header class="card-header">
                    <h3 class="text-center">@student.FullName</h3>
                </header>

                <main class="card-body">
                    <p class="text-start fw-bold">@student.GroupName</p>
                    <div class="d-flex gap-2">
                        <span class="text-start text-primary nav-link" href="@student.Email">@student.Email</span>
                    </div>
                </main>
            </div>
        }
        <form method="get" asp-action="RegisterStudent">
            <button class="btn btn-outline-primary w-100 h-100" type="submit">Добавить студента</button>
        </form>
    </div>
</div>
