@model StudentModel

<div class="container d-flex justify-content-between">
    <div class="d-flex flex-column gap-2">
        <header>
            <h1 class="text-center">Личный кабинет студента</h1>
        </header>
        <div class="card">
            @if (Model.PhotoUrl != null)
            {
                <img class="card-img-top" src="@Model.PhotoUrl.AbsoluteUri" alt="Student Photo"/>
            }
            <header class="card-header">
                <h3 class="text-center">@Model.FullName</h3>
            </header>
            
            <main class="card-body">
                <p class="text-start fw-bold">@Model.GroupName</p>
                <p class="text-start text-primary">@Model.Email</p>
            </main>
            <footer class="card-footer">
                <p class="text-end">ID: @Model.Id</p>
            </footer>
        </div>
    </div>

    <form method="post" asp-controller="Auth" asp-action="Logout">
        <button class="btn btn-outline-primary" type="submit">Выйти</button>
    </form>
</div>
